@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">        
        <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Przejdź do listy klientów</a>      
    </div>
